* {
box-sizing: border-box;
margin: 0;
}
nav {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  height: 30px;
}
nav li {
  padding: 4px;
  list-style-type: none;
  cursor: pointer;
}
ol li {
  list-style-type: none;
  padding-top: 20px;
  text-align: left;
}
div {
  display: flex;
  padding: 25px;
  padding-left: 10px;
}
ol {
  padding-left: 20px;
}
p {
  padding-left: 29px;
}
button {
  padding: 15px;
  margin-left: 600px;
  border-radius: 15px;
  border-color: greenyellow;
  background-color: rgb(132, 206, 20);
  cursor: pointer;
}
button a {
  text-decoration: none;
}

